.Titulo{
    display: flex;
    font-family: 'Nanum Gothic', sans-serif;
    font-size:xx-large;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 4%;
}

.Contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4%;
    width: 70%;
}


.BotonGuardar{
    margin-top: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content:right;
    margin: 50 auto;
}


.capacidad{
    width: 35%;
    display: flex;  
    margin-left: 10%;
    margin: 0 auto;
    margin-top: 1%;
}

